@use '$lib/styles/_constants' as var;

:root {
	--primary: #007bd7;
	--primary-hover: #006ec2;
	--secondary: #2f2646;
	--main-font: 'Patika', Arial, sans-serif;
	--font-color-1: #FFFFF;
	--font-color-2: #9ea7bd;
	--font-color-3: #eef3fc;
	--font-color-4: #f0f3f8;
	--font-color-5: #eceff6;
	--font-color-6: #030613;
	--orange-1: #f08d6b;
	--orange-2: #f89c7d;
	--violet-1: #d7ccfa;
	--violet-2: #cabaf8;
	--violet-3: #946af0;
	--violet-4: #8245eb;
	--dark-1: #2c3345;
	--dark-2: #242b3c;
	--dark-3: #09011a;
	--dark-4: #3c4557;
	--dark-5: #170000;

	--app-btn-stroke: #f3f2f7;
	--app-btn-stroke-outer: #f0f3f8;
	--footer-link-stroke: #9ea7bd;

	--full-height: #{var.$full-height-xl}; // 992(xl) 812(l) 632(m) 680(s)

	--base-num: #{var.$base-num-xl}; // 84 72 60 56 56 48
	--base-indent: #{var.$mar-xl}; // 24(xl) 20(l) 16(m) 16(s) 16(xs)
	--base-indent-1: #{var.$mar-1-xl}; // 32 24 20
	--base-indent-2: #{var.$mar-2-xl}; // 48 40 36
	--base-indent-3: #{var.$mar-3-xl}; // 8(xl) 4(l) 4(m) 4(s) 4(xs) 4(xxs)
	--base-indent-4: #{var.$mar-4-xl}; // 52(xl) 36(l) 28(m) 24(s)
	--radius: #{var.$radius-xl}; // 36(xl) 28(l) 24(m-s-xs) 20(xxs)

	@media screen and (max-width: var.$media-l) {
		--base-num: #{var.$base-num-l};
		--base-indent: #{var.$mar-l};
		--base-indent-1: #{var.$mar-1-l};
		--base-indent-2: #{var.$mar-2-l};
		--base-indent-3: #{var.$mar-3-l};
		--base-indent-4: #{var.$mar-4-l};
		--full-height: #{var.$full-height-l};
		--radius: #{var.$radius-l};
	}
	@media screen and (max-width: var.$media-m) {
		--base-num: #{var.$base-num-m};
		--base-indent: #{var.$mar-m-s-xs};
		--base-indent-1: #{var.$mar-1-m-s-xs};
		--base-indent-2: #{var.$mar-2-m};
		--base-indent-4: #{var.$mar-4-m};
		--full-height: #{var.$full-height-m};
		--radius: #{var.$radius-m-s-xs};
	}

	@media screen and (max-width: var.$media-s) {
		--full-height: #{var.$full-height-s};
		--base-num: #{var.$base-num-s};
		--base-indent-4: #{var.$mar-4-s};
	}

	@media screen and (max-width: var.$media-xs) {
		--full-height: #{var.$full-height-xs};
		--base-indent-4: #{var.$mar-4-xs};
	}
	@media screen and (max-width: var.$media-xxs) {
		--base-indent-1: #{var.$mar-1-xxs};
		--base-num: #{var.$base-num-xxs};
		--base-indent-4: #{var.$mar-4-xxs};
		--radius: #{var.$radius-xxs};
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	min-width: 320px;
	background-color: var(--secondary);
	font-family: var(--main-font);
	color: white;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	background-size: 100% 40px;
	background-repeat: repeat-y;
	min-height: 100vh;
	background-image: url(/images/bgr/bgr-xl.webp);
	background-attachment: fixed;
}

section {
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	padding: 0 128px;

	@media screen and (max-width: var.$media-l) {
		padding: 0 80px;
	}

	@media screen and (max-width: var.$media-m) {
		padding: 0 40px;
	}

	@media screen and (max-width: var.$media-s) {
		padding: 0 24px;
	}

	@media screen and (max-width: var.$media-xs) {
		padding: 0 20px;
	}

	@media screen and (max-width: var.$media-xxs) {
		padding: 0 16px;
	}
}

ul {
	list-style-type: none;
}

.bgr-shadow-wrap {
	position: relative;

	&::before {
		content: '';
		@include var.absFull;
		border-radius: 250px;
		background: var(--dark-3);
		filter: blur(210px);
		z-index: 0;

		@media screen and (max-width: var.$media-l) {
			filter: blur(180px);
			border-radius: 216px;
		}

		@media screen and (max-width: var.$media-m) {
			filter: blur(150px);
			border-radius: 180px;
		}

		@media screen and (max-width: var.$media-s) {
			filter: blur(140px);
			border-radius: 168px;
		}

		@media screen and (max-width: var.$media-xxs) {
			border-radius: 96px;
			filter: blur(120px);
		}
	}
}

.store-btn {
	@media screen and (max-width: var.$media-l) {
		width: 180px;
		height: 52px;
	}
	@media screen and (max-width: var.$media-m) {
		width: 166px;
		height: 48px;
	}
	@media screen and (max-width: var.$media-s) {
		width: 146px;
		height: 44px;
	}
}

.section-padding {
	@media screen and (max-width: var.$media-s) {
		padding-bottom: 84px !important;
		padding-top: 84px !important;
	}
	@media screen and (max-width: var.$media-xs) {
		padding-bottom: 56px !important;
		padding-top: 56px !important;
	}
	@media screen and (max-width: var.$media-xxs) {
		padding-bottom: 48px !important;
		padding-top: 48px !important;
	}
}
