@use '$lib/styles/_constants' as var;

.assets {
	height: var(--full-height);
	@include var.flex(flex-start, center);
	flex-direction: column;

	&-wrap {
		position: relative;
		.slider-xxs {
			display: none;
			@media screen and (max-width: var.$media-xxs) {
				display: block;
			}
		}

		@media screen and (max-width: var.$media-s) {
			margin-top: calc(var(--base-num) * (-2.5));
		}
		@media screen and (max-width: var.$media-xs) {
			padding-top: 56px;
			padding-bottom: 56px;
			margin-top: 0;
		}
		// @media screen and (max-width: var.$media-xxs) {

		// }

		.list {
			gap: 8px;
			@media screen and (max-width: var.$media-xxs) {
				width: 2260px;
				li {
					width: 213px;
				}
			}
		}
	}
}
