@use '$lib/styles/_constants' as var;

.speak-slide {
	border-radius: var(--radius);
	position: relative;
	@include var.flex(stretch, flex-end);
	flex-direction: column;

	height: 670px;
	@media screen and (max-width: var.$media-l) {
		height: 518px;
	}
	@media screen and (max-width: var.$media-m) {
		height: 494px;
	}
	@media screen and (max-width: var.$media-s) {
		height: 384px;
	}
	@media screen and (max-width: var.$media-xxs) {
		height: 378px;
	}

	&::before,
	&::after {
		@include var.absFull;
		content: '';
		border-radius: inherit;
	}

	&::before {
		border: 1px solid rgba(255, 255, 255, 0.32);
		z-index: 2;
		filter: blur(1px);
	}

	&::after {
		@include var.pseudoShadow;
	}
	.content {
		padding: var(--base-indent-1);
		position: relative;

		&-inner {
			position: relative;
			z-index: 3;
		}

		&:before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			inset: 0;
			left: calc(var(--base-indent-2) * (-1));
			width: calc(100% + var(--base-indent-2) * 2);
			height: calc(100% + var(--base-indent-2));
			top: 0;
			border-radius: 36px;
			border-radius: 36px;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.84) 100%);
			filter: blur(84px);
		}
	}

	h4 {
		margin-bottom: var(--base-indent-3);
	}
	.text-m {
		margin-bottom: var(--base-indent-1);

		@media screen and (max-width: var.$media-s) {
			min-height: 40px;
		}
	}
	.photo {
		@include var.absFull;
		border-radius: inherit;
		overflow: hidden;
		z-index: 1;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
}
