@use '$lib/styles/_constants' as var;

.speak {
	height: var(--full-height);
	@include var.flex(flex-start, center);
	flex-direction: column;

	&-wrap {
		position: relative;
		@media screen and (max-width: var.$media-xs) {
			padding-top: var(--base-num);
			padding-bottom: var(--base-num);
		}

		.list {
			gap: 8px;
			@media screen and (max-width: var.$media-xxs) {
				width: 1164px;
				li {
					width: 216px;
				}
			}
		}

		.slider-xxs {
			display: none;
			@media screen and (max-width: var.$media-xxs) {
				display: block;
			}
		}
	}

	h2 {
		margin-bottom: var(--base-indent);
	}

	.text-l {
		margin-bottom: var(--base-indent-2);
	}
}
