@use '$lib/styles/_constants' as var;

.intro {
	text-align: center;
	padding-top: calc(var(--base-num) * 2);
	padding-bottom: var(--base-num);
	position: relative;
	z-index: 1;
	height: var(--full-height);
	display: flex;
	flex-direction: column;

	@media screen and (max-width: var.$media-xxs) {
		padding-bottom: 0;
	}

	.buttons-wrap {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: var(--base-indent);
		flex-grow: 1;

		@media screen and (max-width: var.$media-xs) {
			margin-bottom: calc(var(--base-num) * 3);
		}
		@media screen and (max-width: var.$media-xxs) {
			flex-direction: column-reverse;
			gap: 12px;
			align-items: center;
			margin-bottom: 264px;
		}
		@media screen and (max-width: 480px) {
			margin-bottom: 216px;
		}
	}

	.button {
		width: 336px;

		@media screen and (max-width: var.$media-l) {
			width: 288px;
		}

		@media screen and (max-width: var.$media-m) {
			width: 240px;
		}

		@media screen and (max-width: var.$media-s) {
			width: auto;
		}
		@media screen and (max-width: var.$media-xxs) {
			width: 240px;
		}
	}

	.text-l {
		margin: var(--base-indent) 0 calc(var(--base-indent) * 2);
		@media screen and (max-width: var.$media-m) {
			margin: var(--base-indent) 0 calc(var(--base-indent) * 2.25);
		}
		@media screen and (max-width: var.$media-xxs) {
			margin: 8px 0 32px;
		}

		b {
			font-weight: 600;
		}
	}

	h1,
	.text-l,
	.buttons-wrap {
		position: relative;
		z-index: 1;
	}
}
