@use '$lib/styles/_constants' as var;

.intro-quotes {
	@include var.flex-center;
	gap: 24px;
	position: relative;

	@media screen and (max-width: var.$media-l) {
		gap: 20px;
	}

	@media screen and (max-width: var.$media-m) {
		gap: 16px;
	}
	@media screen and (max-width: var.$media-xxs) {
		gap: 12px;
	}

	@media screen and (max-width: 480px) {
		flex-wrap: wrap;
	}
}

.intro-quote {
	position: relative;
	@include var.flex-center;
	gap: 16px;
	padding: 10px 24px 10px 16px;
	border-radius: 48px;

	@media screen and (max-width: var.$media-l) {
		padding: 7px 20px 7px 12px;
		gap: 8px;
	}
	@media screen and (max-width: var.$media-xxs) {
		padding: 6px 18px 6px 6px;
	}

	.quote-text {
		text-align: left;
	}

	&-style {
		position: absolute;
		inset: 0;
		border-radius: 48px;
	}

	&-wrap {
		position: relative;
	}

	&-bgr {
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.67) 15%, rgba(0, 0, 0, 0.84) 100%);
		filter: blur(24px);
		backdrop-filter: blur(20px);
	}
	&-border {
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	img {
		@include var.vhSquare(40px);
		width: 40px;
		height: 40px;

		@media screen and (max-width: var.$media-l) {
			@include var.vhSquare(36px);
		}
		@media screen and (max-width: var.$media-m) {
			@include var.vhSquare(32px);
		}
	}

	.quote-ticker {
		font-weight: 600;
		color: var(--font-color-5);
	}

	.quote-price {
		@include var.font(18px, 24px);
		color: var(--font-color-2);

		@media screen and (max-width: var.$media-l) {
			@include var.font(16px, 22px);
		}

		@media screen and (max-width: var.$media-l) {
			@include var.font(15px, 20px);
		}

		@media screen and (max-width: var.$media-xs) {
			@include var.font(14px, 20px);
		}
		@media screen and (max-width: var.$media-xxs) {
			@include var.font(13px, 18px);
		}
	}
}
