@use '$lib/styles/_constants' as var;

.common-slider {
	position: absolute;
	width: 80vw;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;

	@media screen and (max-width: var.$media-xs) {
		position: static;
		transform: none;
		width: calc(100vw - 20px);
		padding-left: 12px;
	}

	@media screen and (max-width: var.$media-xxs) {
		width: calc(100vw - 16px);
		padding-left: 10px;
	}
}

.swiper {
	&,
	&-wrapper,
	&-slide {
		overflow: visible !important;
	}
}

@mixin slideDimension($w, $gap) {
	width: calc($w + $gap * 2);
	.slide-wrap {
		padding-left: $gap;
		padding-right: $gap;
	}
}

.swiper {
	&-slide {
		@include slideDimension(377px, 26px);

		@media screen and (max-width: var.$media-l) {
			@include slideDimension(291px, 18px);
		}
		@media screen and (max-width: var.$media-m) {
			@include slideDimension(278px, 14px);
		}
		@media screen and (max-width: var.$media-s) {
			@include slideDimension(216px, 8px);
		}
		@media screen and (max-width: var.$media-xxs) {
			@include slideDimension(216px, 6px);
		}
	}
	&-desktop,
	&-mobile {
		display: none;
	}

	@media screen and (min-width: 992px) {
		&-desktop {
			display: block;
		}
	}
	@media screen and (max-width: var.$media-xs) {
		&-slide {
			width: 240px;
		}
		&-mobile {
			display: block;
		}
	}
	@media screen and (max-width: var.$media-xxs) {
		&-slide {
			width: 220px;
		}
		&-mobile {
			display: none;
		}
	}
}

.swiper-nav {
	@include var.flex(center, flex-start);
	gap: var(--base-indent);
	@media screen and (max-width: var.$media-xxs) {
		display: none;
	}
}

.slider-title {
	h2 {
		margin-bottom: var(--base-indent);
		@media screen and (max-width: var.$media-xs) {
			margin-bottom: 8px;
			br {
				display: none;
			}
		}
	}

	.text-l {
		margin-bottom: calc(var(--base-indent) * 2);
		@media screen and (max-width: var.$media-xs) {
			margin-bottom: 0;
		}
	}

	@media screen and (max-width: var.$media-xs) {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 44px;
	}

	@media screen and (max-width: var.$media-xxs) {
		margin-bottom: 32px;
	}
}
