@use '$lib/styles/_constants' as var;

.find {
	position: relative;
	&-wrap {
		height: var(--full-height);
		@include var.flex-center;

		@media screen and (max-width: var.$media-xs) {
			padding: var(--base-num) 0;
		}
	}
	h2 {
		position: relative;
		z-index: 1;
		margin-bottom: calc(var(--base-num) * 1.5);
		text-align: center;
		@media screen and (max-width: var.$media-s) {
			margin-bottom: 56px;
		}
		@media screen and (max-width: var.$media-xs) {
			margin-bottom: 44px;
		}
		@media screen and (max-width: var.$media-xxs) {
			margin-bottom: 32px;
		}
	}
	.list {
		@include var.flex(stretch, space-between);
		flex-wrap: wrap;
		gap: var(--base-indent-4);

		@media screen and (max-width: 642px) {
			width: 1155px;
			// padding: 250px 0;
			// &-wrap {
			// 	scroll-snap-type: x mandatory;
			// 	overflow-x: auto;
			// 	overflow-y: hidden;
			// 	flex-wrap: nowrap;
			// 	margin-top: -250px;
			// 	margin-bottom: -250px;
			// 	@include var.full-w-xxs;

			// 	@include var.hideScrollbar;
			// }
		}

		li {
			width: calc(33% - var(--base-indent-4) * 2 / 3);
			padding: 24px 32px;
			border-radius: var(--radius);
			position: relative;

			@media screen and (max-width: var.$media-l) {
				padding: 16px 24px;
			}
			@media screen and (max-width: var.$media-m) {
				padding: 12px 16px;
			}
			@media screen and (max-width: var.$media-xxs) {
				scroll-snap-align: center;
				min-width: 196px;
			}

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				height: 294px;

				@media screen and (max-width: var.$media-l) {
					height: 252px;
				}

				@media screen and (max-width: var.$media-m) {
					height: 210px;
				}
				@media screen and (max-width: var.$media-s) {
					height: 196px;
				}
			}

			.illustration {
				@include var.absFull;
				border-radius: 0 0 var(--radius) var(--radius);
				overflow: hidden;
				img {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: auto;
					z-index: 1;
				}
			}

			.content {
				position: relative;
				z-index: 2;
			}

			&:before,
			&:after {
				@include var.absFull;
				content: '';
				border-radius: inherit;
			}

			&:before {
				border: 1px solid rgba(255, 255, 255, 0.32);
				filter: blur(0.5px);
			}

			&:after {
				background: linear-gradient(
					180deg,
					rgba(255, 255, 255, 0.01) 50%,
					rgba(255, 255, 255, 0.03) 100%
				);
				backdrop-filter: blur(21px);
			}

			.shadow {
				position: absolute;
				left: calc(var(--base-indent-1) * (-1));
				width: calc(100% + var(--base-indent-1) * 2);
				top: 0;
				height: calc(100% + var(--base-indent-1) * 2);
				border-radius: inherit;
				opacity: 0.72;
				background: var(--attentive-accent-0103, #170000);
				mix-blend-mode: multiply;
				filter: blur(126px);
				z-index: 0;
			}
		}
		h4 {
			margin-bottom: var(--base-indent-3);
		}
	}
}
