@use '$lib/styles/_constants' as var;

$wXL: 22px;
$wL: 18px;
$wM: 16px;

.arrow {
	width: $wXL;
	height: 1px;
	position: relative;
	background-color: var(--font-color-2);
	transition: background-color ease-out 0.2s;

	&-wrap {
		width: var(--base-indent-1);
		height: var(--base-indent-1);
		position: relative;
		@include var.flex(center, center);
	}

	&.item-open {
		&::after,
		&::before {
			height: 0;
		}
	}

	&::after,
	&::before {
		content: '';
		position: absolute;
		background-color: var(--font-color-2);
		height: calc($wXL / 2);
		width: 1px;
		left: 50%;
		transition:
			height ease-out 0.2s,
			background-color ease-out 0.2s;
	}

	&::after {
		bottom: 0;
	}
	&::before {
		top: 0;
	}

	@media screen and (max-width: var.$media-l) {
		width: $wL;
		&::after,
		&::before {
			height: calc($wL / 2);
		}
	}

	@media screen and (max-width: var.$media-m) {
		width: $wM;
		&::after,
		&::before {
			height: calc($wM / 2);
		}
	}

	@media screen and (max-width: var.$media-xxs) {
		display: none;
	}
}
