@use '$lib/styles/_constants' as var;

.bonuses {
	text-align: center;
	height: var(--full-height);
	@include var.flex-center;
	flex-direction: column;
	position: relative;

	.content-inner {
		position: relative;
		width: 100%;
	}

	&::before {
		top: calc(var(--base-num) * (-3));
	}

	&-wrap {
		position: relative;
		&:before {
			top: calc(var(--base-num) * (-2));
			bottom: calc(var(--base-num) * (-2));
			@media screen and (max-width: var.$media-m) {
				bottom: calc(var(--base-num) * (-2.75));
				top: calc(var(--base-num) * -0.25);
			}
			@media screen and (max-width: var.$media-s) {
				bottom: -84px;
				top: -84px;
			}
			@media screen and (max-width: var.$media-xs) {
				bottom: -56px;
				top: -56px;
			}
			@media screen and (max-width: var.$media-xxs) {
				bottom: -48px;
				top: -48px;
			}
		}
	}

	h2 {
		position: relative;
		z-index: 2;
		@include var.marginBottomDecreased();
	}
	.button {
		margin: 0 auto var(--base-indent);
		position: relative;
		z-index: 2;
		width: 378px;
		@media screen and (max-width: var.$media-l) {
			width: 324px;
		}
		@media screen and (max-width: var.$media-m) {
			width: 270px;
		}
		@media screen and (max-width: var.$media-s) {
			width: auto;
		}
		@media screen and (max-width: var.$media-xxs) {
			width: 240px;
		}
	}
	.text-m {
		position: relative;
		z-index: 2;
	}
	.list {
		@include var.flex(stretch, space-between);
		gap: var(--base-indent-4);
		margin-bottom: calc(var(--base-num) * 1.5);

		@media screen and (max-width: var.$media-m) {
			margin-bottom: 102px;
		}
		@media screen and (max-width: var.$media-s) {
			margin-bottom: 56px;
		}

		@media screen and (max-width: var.$media-xxs) {
			width: 1388px;
			position: relative;
		}

		li {
			text-align: left;
			width: calc(25% - (var(--base-indent-4) * 3) / 4);
			position: relative;
			border-radius: var(--radius);
			height: 377px;

			@media screen and (max-width: var.$media-l) {
				height: 291px;
			}
			@media screen and (max-width: var.$media-m) {
				height: 240px;
			}
			@media screen and (max-width: var.$media-s) {
				height: 224px;
			}
			@media screen and (max-width: var.$media-xxs) {
				height: 192px;
				scroll-snap-align: center;
				min-width: 216px;
			}

			&::before,
			&::after {
				@include var.absFull;
				content: '';
			}

			&::after {
				@include var.transparentBorder;
			}

			&::before {
				border-radius: inherit;
				@include var.bgrBlur;
			}

			.shadow {
				@include var.absFull;
				border-radius: inherit;
				opacity: 0.72;
				background: var(--dark-5);
				mix-blend-mode: exclusion;
				filter: blur(126px);
			}
			.illustration {
				position: absolute;
				left: 50%;
				transform: translate(-50%, 50%);
				bottom: 0;
				@media screen and (max-width: var.$media-l) {
					bottom: 20px;
				}
				@media screen and (max-width: var.$media-xs) {
					bottom: 15px;
				}
			}
		}
		.content {
			position: relative;
			padding: 24px 32px;
			@media screen and (max-width: var.$media-l) {
				padding: 16px 24px;
			}
			@media screen and (max-width: var.$media-m) {
				padding: 12px 16px;
			}
		}
	}
	h4 {
		margin-bottom: var(--base-indent-3);
	}
}
