@use '$lib/styles/_constants' as var;

.form-wrap {
	position: relative;

	&::after,
	&::before {
		position: absolute;
		content: '';
		@include var.vhSquare(420px);
		border-radius: 420px;
		filter: blur(168px);
		z-index: 0;
		opacity: 0.36;

		@media screen and (max-width: var.$media-l) {
			@include var.vhSquare(360px);
			border-radius: 360px;
			filter: blur(144px);
		}

		@media screen and (max-width: var.$media-m) {
			@include var.vhSquare(300px);
			border-radius: 300px;
			filter: blur(120px);
		}
		@media screen and (max-width: var.$media-s) {
			@include var.vhSquare(280px);
			border-radius: 280px;
			filter: blur(112px);
		}
		@media screen and (max-width: var.$media-xxs) {
			@include var.vhSquare(240px);
			border-radius: 240px;
			filter: blur(96px);
		}
	}

	&::before {
		left: 248.5px;
		top: 104px;
		background: var(--secondary-accent-15746, #a788f3);
		@media screen and (max-width: var.$media-l) {
			left: 165.5px;
			top: 76px;
		}
		@media screen and (max-width: var.$media-m) {
			left: 177px;
			top: 80px;
		}
		@media screen and (max-width: var.$media-s) {
			left: 72px;
			top: 68px;
		}
		@media screen and (max-width: var.$media-xs) {
			left: -34px;
			top: 52px;
		}
		@media screen and (max-width: var.$media-xxs) {
			left: -20px;
			top: -5px;
		}
	}

	&::after {
		right: 248.5px;
		bottom: -84px;
		background: var(--attentive-accent-15746, #e1805f);

		@media screen and (max-width: var.$media-l) {
			right: 165.5px;
			bottom: -72px;
		}

		@media screen and (max-width: var.$media-m) {
			right: 177px;
			bottom: -60px;
		}
		@media screen and (max-width: var.$media-s) {
			right: 72px;
			bottom: -56px;
		}
		@media screen and (max-width: var.$media-xs) {
			right: -34px;
			bottom: -56px;
		}
		@media screen and (max-width: var.$media-xxs) {
			right: -20px;
			bottom: -96px;
		}
	}
}
