@use '$lib/styles/_constants' as var;

.registration {
	text-align: center;

	&-wrap {
		height: var(--full-height);
		@include var.flex(center, center);

		@media screen and (max-width: var.$media-m) {
			height: auto;
			padding-bottom: calc(var(--base-num) * 2);
			padding-top: calc(var(--base-num) * 2);
		}
	}
	h2,
	h5,
	form {
		position: relative;
		z-index: 1;
	}
	h5 {
		color: var(--font-color-2);
		margin-bottom: 60px;

		@media screen and (max-width: var.$media-l) {
			margin-bottom: 52px;
		}
		@media screen and (max-width: var.$media-m) {
			margin-bottom: 48px;
		}
		@media screen and (max-width: var.$media-s) {
			margin-bottom: 44px;
		}
		@media screen and (max-width: var.$media-xs) {
			margin-bottom: 36px;
		}
		@media screen and (max-width: var.$media-xxs) {
			margin-bottom: 32px;
		}
	}
}
