@use '$lib/styles/_constants' as var;

$blur: (
	xl: 84px,
	l: 72px,
	m: 60px,
	s-xs: 56px,
	xxs: 18px
);

$indent: (
	xl-l: 16px,
	m-s-xs-xxs: 12px
);

.payment {
	.list {
		li {
			&::before {
				position: absolute;
				opacity: 0.72;
				background: var(--dark-5);
				mix-blend-mode: exclusion;
				top: 0;
				content: '';

				left: calc(map-get($indent, 'xl-l') * (-1));
				width: calc(100% + map-get($indent, 'xl-l') * 2);
				height: calc(100% + map-get($indent, 'xl-l') * 2);
				filter: blur(map-get($blur, 'xl'));

				@media screen and (max-width: var.$media-l) {
					filter: blur(map-get($blur, 'l'));
				}

				@media screen and (max-width: var.$media-m) {
					filter: blur(map-get($blur, 'm'));
					left: calc(map-get($indent, 'm-s-xs-xxs') * (-1));
					width: calc(100% + map-get($indent, 'm-s-xs-xxs') * 2);
					height: calc(100% + map-get($indent, 'm-s-xs-xxs') * 2);
				}

				@media screen and (max-width: var.$media-s) {
					filter: blur(map-get($blur, 's-xs'));
				}

				@media screen and (max-width: var.$media-xxs) {
					filter: blur(map-get($blur, 'xxs'));
				}
			}
		}
	}
}
